<h1>BlaBla</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="user_card">
  <container>
    <h2>Blablabla</h2>
    <ul class='list-unstyled'>
    <% @users.each do |user| %>
      <div class='mt-3'>
      <%= cl_image_tag(user.photo.key) if user.photo.attached? %>
      <li><strong>First name: </strong><%= user.firstname %></li>
      <li><strong>Last name: </strong><%= user.lastname %></li>
      <li><%= user.description %></li>
      <li><strong>Email: </strong><%= user.email %></li>
      <li><strong>Interests: </strong><%= user.interests %></li>
      <li><strong>Location: </strong><%= user.location %></li>
      </div>
      ------------------------------------------
    <% end %>
    </ul>
  </container>
</div>
