<%= render "layouts/components/banner" %>
<div class="offer_grid1">
y
    <% @offers[0..0].each do |element| %>
                <div class="card-trip picture1">
                <% if element.user.photo.attached? %>
                <%= cl_image_tag element.user.photo.key, class: "card-image", alt: "image" %>
                <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <div class="price">
                        <h2><%= link_to element.title, "/offers/#{element.id}" %></h2>
                        <h2 class="card-trip-pricing"><%= element.price %> €</h2>
                      </div>
                      <p><%= element.description%> </p>
                    </div>
                  <hr>
                  </div>
                </div>
    <% end %>
      <% @offers[0..0].each do |element| %>
                <div class="card-trip picture2">
                <% if element.user.photo.attached? %>
                <%= cl_image_tag element.user.photo.key, class: "card-image", alt: "image" %>
                <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <div class="price">
                        <h2><%= link_to element.title, "/offers/#{element.id}" %></h2>
                        <h2 class="card-trip-pricing"><%= element.price %> €</h2>
                      </div>
                      <p><%= element.description %> </p>
                    </div>
                  <hr>
                  </div>
                </div>
    <% end %>
      <% @offers[0..0].each do |element| %>
                <div class="card-trip picture3">
                <% if element.user.photo.attached? %>
                <%= cl_image_tag element.user.photo.key, class: "card-image", alt: "image" %>
                <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <div class="price">
                        <h2><%= link_to element.title, "/offers/#{element.id}" %></h2>
                        <h2 class="card-trip-pricing"><%= element.price %> €</h2>
                      </div>
                      <p><%= element.description %> </p>
                    </div>
                  <hr>
                  </div>
                </div>
    <% end %>
      <% @offers[0..0].each do |element| %>
                <div class="card-trip picture4">
                <% if element.user.photo.attached? %>
                <%= cl_image_tag element.user.photo.key, class: "card-image", alt: "image" %>
                <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <div class="price">
                        <h2><%= link_to element.title, "/offers/#{element.id}" %></h2>
                        <h2 class="card-trip-pricing"><%= element.price %> €</h2>
                      </div>
                      <p><%= element.description %> </p>
                    </div>
                  <hr>
                  </div>
                </div>
    <% end %>


</div>

<div class="with-map">
  <div class="left">
    <%# <div class="offer_grid"> %>
      <% @offers[0..11].each do |element| %>
      <div class="container">
        <div class="inner-container">
          <ul>
              <div class="card_title">
                <li class="title"><%= link_to element.title, "/offers/#{element.id}" %></li>
                <% if element.user.photo.attached? %>
                <%= cl_image_tag(element.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-regular", alt: "avatar") %>
                <% end %>
              </div>
              <div class="description"><%= element.description.truncate(60)%></div>
              <hr>
              <div class="card_info">
              <!--location here  -->
                <li><i class="far fa-compass"></i> <%= element.location %></li>
              </div>
              <!--
              <li class="start"><%= element.start_time %></li>
              <li class="end"><%= element.end_time %></li>
              <li>Uder ID: <%= element.user_id %></li>
              <li>Created: <%= element.created_at %></li>
              <li>Updated: <%= element.updated_at %></li>
              -->
          </ul>
        </div>

      </div>
      <% end %>
  </div>
  <div class="right">
        <div style="width: 450px; height: 750px; border-radius: 5px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
  </div>
</div>


</div>
