<h1>INDEX</h1>


<% @offers.each do |element| %>
    <div class="container">
    <ul>
        <%= cl_image_tag(element.photo.key) if element.photo.key %>
        <li>Title: <%= element.title %></li>
        <li>Description: <%= element.description %></li>
        <li>Location: <%= element.location %></li>
        <li>Price: <%= element.price %></li>
        <li>Start: <%= element.start_time %></li>
        <li>End: <%= element.end_time %></li>
        <li>Uder ID: <%= element.user_id %></li>
        <li>Created: <%= element.created_at %></li>
        <li>Updated: <%= element.updated_at %></li>
    </ul>
    </div>
    <% end %>
