<h1>NEW OFFERS</h1>

<%= form_for(@roffer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :picture_url %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>