<div class="login">
  <h1>create an offer</h1>

  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :location %>
    <div class="price-input"><%= f.input :price, placeholder: '0,00 €'%></div>
    <div class="form-actions middle">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
