
<div class="login">
  <h2>new offers</h2>

  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.input :location %>
    <%= f.input :price %>
    <div class="offers-button">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
