<div class="login">
  <h1>create an offer</h1>
<<<<<<< HEAD
=======

>>>>>>> 149d0cc80f33be749e9668756cdd27d7dbd64894
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.input :location %>
    <div class="price-input"><%= f.input :price%></div>
    <div class="form-actions middle">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
