
<div class="login">
  <h1><%= @offer.title %>'s offer</h1>

    <p>Location: <%= @offer.title %></p>
  <div class="offers-body">
    <p>Price : <%= @offer.price %> €</p>
    <p>Created at: <%= @offer.created_at %></p>
    <div class="description">
      <%= @offer.description %>
    </div>
  </div>


  <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
  <div class="form-actions middle">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
