<h1>SHOW OFFERS</h1>

<%= @offer.title %>
<%= @offer.description %>

<%= @offer.location %>
<%= @offer.price %>
<%= @offer.start_time %>
<%= @offer.end_time %>
<%= @offer.user_id %>
<%= @offer.created_at %>
<%= @offer.updated_at %>

<%= simple_form_for [@offer, @booking] do |f| %>
  
  <%= f.button :submit %>
<% end %>