<h1>SHOW OFFERS</h1>

<%= @offer.title %>
<%= @offer.description %>
<%= @offer.picture_url %>
<%= @offer.location %>
<%= @offer.price %>
<%= @offer.start_time %>
<%= @offer.end_time %>
<%= @offer.user_id %>
<%= @offer.created_at %>
<%= @offer.updated_at %>